<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <script src="https://cdn.tiny.cloud/1/5sem5oslqomr37o6q1s31xlp97lyutcbbeh75dzhxawle0ct/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="./css/output.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{{body}}}
    <script type="module">
        import {renderSignup} from '/js/account.js';
        import {articlesFilter, likeArtileHandler} from '/js/articles-list.js';
        window.onload = function () {
            renderSignup();
            articlesFilter();
            likeArtileHandler();
           
        };
    </script>
</body>

</html>