.avatar-container:hover .user-info-list,
.messages-container:hover .messages-list{
    display: block;
}

.avatars input:checked + img{
    border: 4px solid #ef5d5d;
}

.login-container {
    background-image: url('/images/login.jpeg');
}

@media screen and (orientation:portrait) {
    html {
        font-size: 10px;
    }

    body, html {
        width: 100vw;
    }

    .header-nav-container a {
        display: none;
    }
    
    #accountForm label {
        margin-left: 18px;
    }
    
    #accountForm .avatars-list {
        margin-left: 0;
    }

    #deleteAccountModal .relative {
        top: -30rem;
    }

    .login-container {
        background-image: url('/images/login-mobile.jpg');
    }
    
    .login-container form {
        width: 80%;
    }

    .view-article-container {
        margin: 0;
        margin-top: 100px;
    }
    
    .comments-list input[name="delete"] {
        width: 60px;
    }

    .view-article-container ul,
    .view-article-container li {
        padding-left: 0 !important;
    }

    .view-article-container ul:not(:first-child) {
        padding-left: 10px !important;
    }

    .follow-container {
        width: 100%;
    }

    .follow-container .follow-list {
        margin-left: 0;
        margin-top: 20px;
    }

    form[name="newArticle"] {
        width: 100%;
    }

    .card .cover-container {
        width: 100%;
    }

    .card img {
        min-width: 100%;
        height: 20rem;
        margin-right: 0;
        margin-bottom: 1.8rem;
    }

    .article-list-container{
        position: relative;
        top: 45px;
    }

    .articles-filter span {
        font-size: 10px;
    }

    .articles-filter button{
        margin-left: 2px;
    }

    .edit-account-container {
        padding-top: 200px;
        height: 100vh;
    }

    .account-center-container,
    .analytics-container,
    .card,
    .follow-container,
    .analytics-container .flex:not(:first-child){
        flex-direction: column;
    }

    .analytics-container section {
        margin-left: 0;
    }

    .analytics-container .analytic-details {
        padding-left: 16px;
    }

    .analytics-container .flex .mr-8 {
        margin-right: auto;
    }
    
    .sidebar {
        margin-left: 0;
    }
}