{{> header}}
<section class="login-container password-edit-container" id="accountForm">
    <form action="/passwordedit" method="post" class="box-shadow-basic">
        <h3>Edit Password</h3>
        {{> form-error-message}}
        <input required type="password" name="password"placeholder="enter the new password">
        <input required type="password" placeholder="enter the new password again">
        <button type="submit" class="basic-btn">submit</button>
    </form>
</section>
