<section class="article-list-container">
    {{#if articleList.length}}
    <div class="flex items-center articles-filter pl-14">
        <span class="font-bold text-2xl text-zinc-500">Sorting by:</span>
        <button class="sort-option sort-selected ml-10" 
            id="sort-new">Newest</button>
        <button class="sort-option" id="sort-old">Oldest</button>
        {{#if showUserName}}
        <button class="sort-option" id="sort-username">Username</button>
        {{/if}}
        <button class="sort-option" id="sort-title">Title</button>
    </div>
    <section id="artiles-list">
        {{#each articleList}}
            {{> article-card}}
        {{/each}}
    </section>
    {{else}}
    <h4 class="text-xl font-bold text-gray-400 empty-tips mt-10 pl-14">
        You have no artilces can be seen.<br>
        {{#if isCurrentUser}}
        <a href="/newarticle" class="mt-5 block">
            Please create articles.
        </a>   
        {{/if}}
    </4>
    {{/if}}
</section>
