 <form action="/deleteComment?articleID={{ArticleID}}&commentID={{CommentID}}"
    method="post" onsubmit="return confirm('Are you sure to delete this comment?');">
    <input type="submit" name="delete" value="Delete"
        class="basic-btn bg-red-600 w-8 h-8 flex justify-center"
    />
</form>